<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/public/adminstyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' 
    rel='stylesheet'>

    
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-book-alt'></i>
                <div class="logo_name">Book<span>Haven</span></div>
            </div>
        </div>


        <ul class="nav">
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                       <span class="link_name">Users</span>
                </a>
            </li>
            <li>
                <a href="inventory.html">
                    <i class='bx bx-package'></i>
                       <span class="link_name">Inventory</span>
                </a>
            </li>
            <li>
                <a href="transaction.html">
                    <i class='bx bx-spreadsheet'></i>
                       <span class="link_name">Transactions</span>
                </a>
            </li>
            <li>
                <a href="logreg.html">
                    <i class='bx bx-power-off' ></i>
                       <span class="link_name">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="home_content">
        <div class="text">Users</div>
        <div class="card">.</div>
        </div>
    </div> 

        
</body>
</html>